/* line 7, ../../app/stylesheets/e.sass */
p {
  margin-bottom: 13px;
  line-height: 19.5px;
  margin: 0;
}

/* line 17, ../../app/stylesheets/e.sass */
article, aside, footer, header, nav, section, dialog, figure, hgroup, menu {
  display: block;
}

/* line 23, ../../app/stylesheets/e.sass */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 31, ../../app/stylesheets/e.sass */
del, ins {
  text-decoration: none;
}

/* line 37, ../../app/stylesheets/e.sass */
nav ul {
  list-style-type: none;
}

/* line 43, ../../app/stylesheets/e.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  width: auto;
  height: auto;
}

/* line 57, ../../app/stylesheets/e.sass */
input {
  margin: 0;
}

/* line 63, ../../app/stylesheets/e.sass */
textarea {
  overflow: auto;
}

/* line 69, ../../app/stylesheets/e.sass */
body {
  padding: 10px 0;
}

/* line 75, ../../app/stylesheets/e.sass */
strong, b {
  font-weight: bold;
}

/* line 81, ../../app/stylesheets/e.sass */
em, dfn, i {
  font-style: italic;
}

/* line 87, ../../app/stylesheets/e.sass */
sup, sub {
  vertical-align: baseline;
  position: relative;
}

/* line 95, ../../app/stylesheets/e.sass */
sup {
  top: -0.4em;
}

/* line 101, ../../app/stylesheets/e.sass */
sub {
  bottom: -0.3em;
}

/* line 107, ../../app/stylesheets/e.sass */
blockquote {
  padding-left: 10px;
  padding-right: 5px;
  border-left: 3px solid #dddddd;
  margin-bottom: 1.5em;
}

/* line 119, ../../app/stylesheets/e.sass */
.img_left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 129, ../../app/stylesheets/e.sass */
.img_right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 139, ../../app/stylesheets/e.sass */
.editor_video_box {
  width: 300px;
  height: 200px;
  background: url(../i/video_box.png) center no-repeat black !important;
  margin: 1.3em;
}

/* line 151, ../../app/stylesheets/e.sass */
.editor_video_box object, .editor_video_box embed, .editor_video_box iframe {
  display: none;
}

/* line 157, ../../app/stylesheets/e.sass */
.editor_file_link {
  padding-left: 20px;
}

/* line 163, ../../app/stylesheets/e.sass */
table {
  border-collapse: collapse;
  font-size: 1em;
  margin: 0 10px;
  margin-bottom: 1.3em;
}

/* line 175, ../../app/stylesheets/e.sass */
table td {
  border: 1px solid #dddddd;
  padding: 5px;
}

/* line 183, ../../app/stylesheets/e.sass */
table thead td {
  border-bottom: 2px solid black !important;
  font-weight: bold;
}

/* line 191, ../../app/stylesheets/e.sass */
code, pre {
  font: "1.2em/1 'Courier New', Courier, monospace";
  background: #f5f5f5;
  padding: 1em;
  margin: 0 10px;
  margin-bottom: 1.3em;
}

/* line 205, ../../app/stylesheets/e.sass */
pre {
  border: 1px dashed #cccccc;
  line-height: 1.7em;
  font-size: 0.9em;
  background: #f5f5f5;
  overflow: auto;
}
