@import "utils"
@import "colors"
@import "base"
@import "header"
@import "footer"
@import "simple_form"
@import "autocomplete"
@import "lists"
@import "colorbox"
@import "places"
@import "search"
@import "links"
@import "page"
@import "buttons"
@import "pagination"
@import "cols"
@import "editor"
@import "tags"
@import "comments"

#root
  margin-left: auto
  margin-right: auto
  width: $width
  max-width: $max_width
  color: $text_color
  background: white
  #content
    .container
      margin: 0 auto
      width: $content_width
      max-width: $content_width
    .body
      padding-bottom: 0
    div.flash
      margin-top: 0.6em
      margin-bottom: 0.6em
      width: 946px
      +alpha
      +omega
      padding: 4px 6px
      border: $border_for_notice
    div.flash.error
      color: #8a1f11
      background: #fff6bf
      border-color: #ffd324
    div.flash.notice
      color: #514721
      background: #fff6bf
      border-color: #ffd324
    #admin_menu
      +grid(16)
      +alpha
      +omega
      padding-top: 0.3em
      padding-bottom: 0.3em
      position: relative
      z-index: 11
    #admin_section
      +grid(16)
      +alpha
      +omega
      padding-bottom: 1em
      h1, h2, h3
        margin: 0.5em 0
        
#root.full_screen
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 100%
  #content
    .container
      margin: 0
      width: 100%
      max-width: 100%
      padding: 0

html body
  font-size: $base_font_size
  line-height: $base_font_size + 3px

.clear
  clear: both  

.left
  float: left
  
.right
  float: right
  
.block
  display: block
  
th
  .current
    padding-right: 20px
    background-repeat: no-repeat
    background-position: right center
  .asc
    background-image: url(/images/sort-asc1.png)
  .desc
    background-image: url(/images/sort-desc1.png)
    
.subfilter
  font-size: $base_font_size
  font-weight: bold
  padding: 2px
  vertical-align: middle
  float: right
  *
    vertical-align: middle
      
.controls a
  font-size: $base_font_size - 1px

.reviews
  padding-bottom: 16px
  .review
    font-size: $base_font_size
    margin-bottom: 6px
    border-bottom: 1px solid #ececec
    border-top: 1px solid #ececec
    .when
      float: left
      width: 14%
      padding-right: 1%
      .user
        font-weight: bold
      .date
        font-size: $base_font_size - 1px
    .message
      float: left
      width: 85%

div.content
  :display block
  
.clear
  :clear both

.tooltip
  background-color: #FFFFFF
  border: 2px solid #CCCCCC
  padding: 2px
  white-space: nowrap

.googleMarkerTab .address
  margin-bottom: 0.6em

.tooltip dl, .tooltip dd, .tooltip dt
  margin: 0px
  padding: 0px

.tooltip dt 
  font-weight: bold

.tooltip dd
  margin-left: 1em

.tooltip img
  border: 1px solid #AAAAAA
  display: block
  
.tooltip span
  font-size: $base_font_size - 1px
  color: #999 
    
.date, .time
  font-size: $base_font_size - 2px
  
.callout
  text-align: center
  padding: 16px 0
  font-size: $base_font_size - 3px
  line-height: $base_font_size + 2px
  
.text_block
  font-family: $base_font
  padding: 16px 0
  font-family: $base_font
  
.text_block.admin_block
  padding-bottom: 0  
  
#admin_quick_filter
  padding: 8px 0px
  
.errorExplanation
  display: none  
  
.content_spacer
  height: 24px
  width: 100%
  
.add
  cursor: pointer  
  
.with_space
  margin-bottom: 24px
  
.with_huge_space
  margin-bottom: 32px 

.no_results
  width: 100%
  clear: both
  padding-top: 30px  
  text-align: center
  
.small_loader
  display: none
  width: 16px
  height: 16px
  background: url(/images/small_loader.gif) top left
  position: absolute
  bottom: 0
  left: 15px

a.prev, a.next
  cursor: pointer
  
.hidden
  display: inline  
  
.show_me
  font-size: $base_font_size - 2px
  border-bottom: 1px dashed $text_color
  cursor: pointer

.large_padding
  padding: 35px
  
.simple_form div.photo_preview
  margin: 6px 0
  width: 150px
  margin-left: 260px
  
.with_space_above
  margin-top: 18px  
  
#admin
  .text_block  
    strong, b
      color: #333
      
.relative
  position: relative
  
.min_height
  min-height: 400px  
  
#map_container
  padding: 3px
  border: 1px solid #e3e0dc
